.form-select:focus{
  border: #03203C solid 1px;
  box-shadow: none;
}
.form-control:focus{
  border: #03203C solid 1px;
  box-shadow: none;
}
.form-control:focus{
  border: #03203C solid 1px;
  box-shadow: none;
}
body{
  background-color: #03203C;
  color:white
}
button{
  margin: 10px;
}
.video{
  margin-left:20px;
  margin-right: 20px;
}
